<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Fixed Layout" [options]="false">
      <p>In Fixed Layout - Header & Sidebar being fixed while scrolling the page.</p>
      <div class="alert alert-info mb-0" role="alert">
        <p class="mb-0">It is best suited for those applications where you need the sidebar & header elements easily accessible every time when you scroll the page.</p>
      </div>
      <h5 class="m-15">You can edit this file at [ ../src/app/app-config.ts ] </h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="header-table">
          <tr>
            <th>Configuration</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                <li>layout: <code>vertical</code></li>
                <li>navFixedLayout: <code>true</code></li>
                <li>headerFixedLayout: <code>true</code></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<app-common-content></app-common-content>
